@import "src/app/@theme/colors";

.row {
    min-height: 100vh;
    background: linear-gradient(to right,
            $cat-mash-background-0 0%,
            $cat-mash-background-0 50%,
            $cat-mash-background-1 50%,
            $cat-mash-background-1 100%);

    .col-sm-6 {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            clip-path: ellipse(33% 50%);
            width: 40vw;
            height: 50vh;
        }
    }

}